In [21]:
#dependencies

import pandas as pd
from sqlalchemy import create_engine
from config import db_password

# Extract CSVs into DataFrames

In [26]:
#loading CSV files

file1 = "Drugs_package.csv"
package= pd.read_csv(file1)

package.head()

,PRODUCTID,PRODUCTNDC,NDCPACKAGECODE,PACKAGEDESCRIPTION
0,0002-1200_4bd46cbe-cdc1-4329-a8e7-22816bd7fc33,0002-1200,0002-1200-30,"1 VIAL, MULTI-DOSE in 1 CAN (0002-1200-30) > ..."
1,0002-1200_4bd46cbe-cdc1-4329-a8e7-22816bd7fc33,0002-1200,0002-1200-50,"1 VIAL, MULTI-DOSE in 1 CAN (0002-1200-50) > ..."
2,0002-1407_14757f9d-f641-4836-acf3-229265588d1d,0002-1407,0002-1407-01,10 mL in 1 VIAL (0002-1407-01)
3,0002-1433_aaae85ae-9295-465f-b938-463b74b8d5bd,0002-1433,0002-1433-80,4 SYRINGE in 1 CARTON (0002-1433-80) > .5 mL ...
4,0002-1434_aaae85ae-9295-465f-b938-463b74b8d5bd,0002-1434,0002-1434-80,4 SYRINGE in 1 CARTON (0002-1434-80) > .5 mL ...

In [27]:
package = package.drop_duplicates(subset=['PRODUCTID'])

In [28]:
package = package.copy()


#rename the columns

package = package.rename(columns={"PRODUCTID": "productid",
                                "PRODUCTNDC": "productndc",
                                "NDCPACKAGECODE": "ndcpackagecode",
                                "PACKAGEDESCRIPTION": "packagedescription"})

#set index 

package.set_index("productid", inplace=True)


package.head()

,productndc,ndcpackagecode,packagedescription
productid,,,
0002-1200_4bd46cbe-cdc1-4329-a8e7-22816bd7fc33,0002-1200,0002-1200-30,"1 VIAL, MULTI-DOSE in 1 CAN (0002-1200-30) > ..."
0002-1407_14757f9d-f641-4836-acf3-229265588d1d,0002-1407,0002-1407-01,10 mL in 1 VIAL (0002-1407-01)
0002-1433_aaae85ae-9295-465f-b938-463b74b8d5bd,0002-1433,0002-1433-80,4 SYRINGE in 1 CARTON (0002-1433-80) > .5 mL ...
0002-1434_aaae85ae-9295-465f-b938-463b74b8d5bd,0002-1434,0002-1434-80,4 SYRINGE in 1 CARTON (0002-1434-80) > .5 mL ...
0002-1445_2ecde4c5-5128-4725-9cf5-64384857eb1c,0002-1445,0002-1445-09,3 SYRINGE in 1 CARTON (0002-1445-09) > 1 mL i...

In [5]:
#package.columns

In [6]:
# file2 = "Drugs_product.csv"
# product = pd.read_csv(file2)

# product.head()

In [7]:
# print(product.columns)

In [8]:
file3 = "Nutritions_US.csv"
nutrition = pd.read_csv(file3)

nutrition.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_D_IU,Vit_K_(�g),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2
0,1001,"BUTTER,WITH SALT",15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,0.0,7.0,51.368,21.021,3.043,215.0,5.00,"1 pat, (1"" sq, 1/3"" high)",14.2,1 tbsp
1,1002,"BUTTER,WHIPPED,W/ SALT",16.72,718,0.49,78.30,1.62,2.87,0.0,0.06,...,0.0,4.6,45.390,19.874,3.331,225.0,3.80,"1 pat, (1"" sq, 1/3"" high)",9.4,1 tbsp
2,1003,"BUTTER OIL,ANHYDROUS",0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,0.0,8.6,61.924,28.732,3.694,256.0,12.80,1 tbsp,205.0,1 cup
3,1004,"CHEESE,BLUE",42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,21.0,2.4,18.669,7.778,0.800,75.0,28.35,1 oz,17.0,1 cubic inch
4,1005,"CHEESE,BRICK",41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,22.0,2.5,18.764,8.598,0.784,94.0,132.00,"1 cup, diced",113.0,"1 cup, shredded"

In [9]:
nutrition.columns

Index(['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)',
       'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)',
       'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)',
       'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)',
       'Copper_mg)', 'Manganese_(mg)', 'Selenium_(�g)', 'Vit_C_(mg)',
       'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Panto_Acid_mg)',
       'Vit_B6_(mg)', 'Folate_Tot_(�g)', 'Folic_Acid_(�g)', 'Food_Folate_(�g)',
       'Folate_DFE_(�g)', 'Choline_Tot_ (mg)', 'Vit_B12_(�g)', 'Vit_A_IU',
       'Vit_A_RAE', 'Retinol_(�g)', 'Alpha_Carot_(�g)', 'Beta_Carot_(�g)',
       'Beta_Crypt_(�g)', 'Lycopene_(�g)', 'Lut+Zea_ (�g)', 'Vit_E_(mg)',
       'Vit_D_�g', 'Vit_D_IU', 'Vit_K_(�g)', 'FA_Sat_(g)', 'FA_Mono_(g)',
       'FA_Poly_(g)', 'Cholestrl_(mg)', 'GmWt_1', 'GmWt_Desc1', 'GmWt_2',
       'GmWt_Desc2'],
      dtype='object')

In [10]:
nut_transformed = nutrition[["NDB_No", "Shrt_Desc", "Water_(g)", "Energ_Kcal"]].copy()
nut_transformed

      NDB_No                   Shrt_Desc  Water_(g)  Energ_Kcal
0       1001            BUTTER,WITH SALT      15.87         717
1       1002      BUTTER,WHIPPED,W/ SALT      16.72         718
2       1003        BUTTER OIL,ANHYDROUS       0.24         876
3       1004                 CHEESE,BLUE      42.41         353
4       1005                CHEESE,BRICK      41.11         371
...      ...                         ...        ...         ...
8785   83110             MACKEREL,SALTED      43.00         305
8786   90240  SCALLOP,(BAY&SEA),CKD,STMD      70.25         111
8787   90480                  SYRUP,CANE      26.00         269
8788   90560                   SNAIL,RAW      79.20          90
8789   93600            TURTLE,GREEN,RAW      78.50          89

[8790 rows x 4 columns]

In [11]:
#rename columns

nut_transformed = nut_transformed.rename(columns={"NDB_No": "id",
                                                 "Shrt_Desc": "description", 
                                                 "Water_(g)": "water_g",
                                                 "Energ_Kcal": "energy_kcal"})


nut_transformed.set_index("id", inplace=True)
nut_transformed.head()

                 description  water_g  energy_kcal
id
1001        BUTTER,WITH SALT    15.87          717
1002  BUTTER,WHIPPED,W/ SALT    16.72          718
1003    BUTTER OIL,ANHYDROUS     0.24          876
1004             CHEESE,BLUE    42.41          353
1005            CHEESE,BRICK    41.11          371

### Connect to local database

In [12]:
rds_connection_string = f"postgres:{db_password}@localhost:5432/ETL"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [13]:
engine.table_names()

<ipython-input-13-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['drugs_package', 'nutrition']

### Load DataFrames into database

In [29]:
package.to_sql(name='drugs_package', con=engine, if_exists='append', index=True)

In [32]:
#pd.read_sql_query('select * from drugs_package', con=engine)

In [17]:
nut_transformed.to_sql(name='nutrition', con=engine, if_exists='append', index=True)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "nutrition_pkey"
DETAIL:  Key (id)=(1001) already exists.

[SQL: INSERT INTO nutrition (id, description, water_g, energy_kcal) VALUES (%(id)s, %(description)s, %(water_g)s, %(energy_kcal)s)]
[parameters: ({'id': 1001, 'description': 'BUTTER,WITH SALT', 'water_g': 15.87, 'energy_kcal': 717}, {'id': 1002, 'description': 'BUTTER,WHIPPED,W/ SALT', 'water_g': 16.72, 'energy_kcal': 718}, {'id': 1003, 'description': 'BUTTER OIL,ANHYDROUS', 'water_g': 0.24, 'energy_kcal': 876}, {'id': 1004, 'description': 'CHEESE,BLUE', 'water_g': 42.41, 'energy_kcal': 353}, {'id': 1005, 'description': 'CHEESE,BRICK', 'water_g': 41.11, 'energy_kcal': 371}, {'id': 1006, 'description': 'CHEESE,BRIE', 'water_g': 48.42, 'energy_kcal': 334}, {'id': 1007, 'description': 'CHEESE,CAMEMBERT', 'water_g': 51.8, 'energy_kcal': 300}, {'id': 1008, 'description': 'CHEESE,CARAWAY', 'water_g': 39.28, 'energy_kcal': 376}  ... displaying 10 of 8790 total bound parameter sets ...  {'id': 90560, 'description': 'SNAIL,RAW', 'water_g': 79.2, 'energy_kcal': 90}, {'id': 93600, 'description': 'TURTLE,GREEN,RAW', 'water_g': 78.5, 'energy_kcal': 89})]
(Background on this error at: http://sqlalche.me/e/14/gkpj)

### Confirm data has been added by querying the tables

In [16]:
pd.read_sql_query('select * from nutrition', con=engine)

         id                 description  water_g  energy_kcal
0      1001            BUTTER,WITH SALT     16.0          717
1      1002      BUTTER,WHIPPED,W/ SALT     17.0          718
2      1003        BUTTER OIL,ANHYDROUS      0.0          876
3      1004                 CHEESE,BLUE     42.0          353
4      1005                CHEESE,BRICK     41.0          371
...     ...                         ...      ...          ...
8785  83110             MACKEREL,SALTED     43.0          305
8786  90240  SCALLOP,(BAY&SEA),CKD,STMD     70.0          111
8787  90480                  SYRUP,CANE     26.0          269
8788  90560                   SNAIL,RAW     79.0           90
8789  93600            TURTLE,GREEN,RAW     79.0           89

[8790 rows x 4 columns]

In [31]:
pd.read_sql_query('select * from drugs_package', con=engine)

,productid,productndc,ndcpackagecode,packagedescription
0,0002-1200_4bd46cbe-cdc1-4329-a8e7-22816bd7fc33,0002-1200,0002-1200-30,"1 VIAL, MULTI-DOSE in 1 CAN (0002-1200-30) > ..."
1,0002-1407_14757f9d-f641-4836-acf3-229265588d1d,0002-1407,0002-1407-01,10 mL in 1 VIAL (0002-1407-01)
2,0002-1433_aaae85ae-9295-465f-b938-463b74b8d5bd,0002-1433,0002-1433-80,4 SYRINGE in 1 CARTON (0002-1433-80) > .5 mL ...
3,0002-1434_aaae85ae-9295-465f-b938-463b74b8d5bd,0002-1434,0002-1434-80,4 SYRINGE in 1 CARTON (0002-1434-80) > .5 mL ...
4,0002-1445_2ecde4c5-5128-4725-9cf5-64384857eb1c,0002-1445,0002-1445-09,3 SYRINGE in 1 CARTON (0002-1445-09) > 1 mL i...
...,...,...,...,...
117120,99207-466_c8b62a5c-db77-4086-96a8-0a63f17eb811,99207-466,99207-466-01,20 BLISTER PACK in 1 CARTON (99207-466-01) > ...
117121,99207-467_c8b62a5c-db77-4086-96a8-0a63f17eb811,99207-467,99207-467-01,20 BLISTER PACK in 1 CARTON (99207-467-01) > ...
117122,99207-525_d47eda34-3952-463c-9597-4225a19dbf13,99207-525,99207-525-02,20 TUBE in 1 CARTON (99207-525-02) > 1.5 g in...
117123,99207-850_4fa7e444-9f5d-4174-b9d6-853fa6b0d860,99207-850,99207-850-02,12 TUBE in 1 CARTON (99207-850-02) > 2 g in 1...
117124,99528-3590_b7bd09a7-0c7a-44f1-b14e-fc823dcd813f,99528-3590,99528-3590-3,"100 g in 1 BOTTLE, WITH APPLICATOR (99528-3590-3)"